export(coef_pvalue.coxph)
export(corceff)
export(cv)
export(dgamma2)
export(lod2lrs)
export(lod2p)
export(lrs2lod)
export(lrs2p)
export(lrt.coxph)
export(lrt_pvalue.coxph)
export(normrnd)
export(p.adjust)
export(p.adjust.methods)
export(pgamma2)
export(qgamma2)
export(qvalue2)
export(rho)
export(standardise)
importFrom(mjcbase,is.matrix.like)
importFrom(stats,cor)
importFrom(stats,sd)
