S3method(is.infinite,data.frame)
S3method(p.value,coxph)
S3method(p.value,default)
S3method(p.value,htest)
S3method(p.value,survdiff)
export(coef_pvalue.coxph)
export(corceff)
export(cv)
export(dgamma2)
export(lod2lrs)
export(lod2p)
export(lrs2lod)
export(lrs2p)
export(lrt.coxph)
export(lrt_pvalue.coxph)
export(normrnd)
export(p.adjust)
export(p.adjust.methods)
export(permute)
export(pgamma2)
export(qgamma2)
export(qvalue2)
export(rgamma2)
export(rho)
export(standardise)
importFrom(mjcbase,is.matrix.like)
importFrom(stats,cor)
importFrom(stats,dgamma)
importFrom(stats,pgamma)
importFrom(stats,qgamma)
importFrom(stats,rgamma)
importFrom(stats,sd)
