export(cv)
export(dgamma2)
export(lod2lrs)
export(lod2p)
export(lrs2lod)
export(lrs2p)
export(p.adjust.methods)
export(p.adjust)
export(pgamma2)
export(qgamma2)
export(qvalue2)
export(rho)
importFrom(qvalue,qvalue)
importFrom(stats,sd)
